version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: locationdb
    ports:
      - "5431:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - go-booking
    restart: always

#  redis:
#    image: redis:6.2.20-alpine
#    container_name: redis
#    volumes:
#      - redis_data:/data
#    networks:
#      - go-booking
#    ports:
#      - "6379:6379"
#    healthcheck:
#      test: ["CMD", "redis-cli", "ping"]
#      timeout: 5s
#      retries: 5
#    restart: always
#
#  gateway:
#    image: docker.tyk.io/tyk-gateway/tyk-gateway
#    container_name: gateway
#    ports:
#      - "8080:8080"
#    volumes:
#      - ./gateway/tyk.standalone.conf:/opt/tyk-gateway/tyk.conf
#      - ./gateway/apps:/opt/tyk-gateway/apps
#    networks:
#      - go-booking
#    depends_on:
#      redis:
#        condition: service_healthy
#    restart: always
#
#  location-service:
#    image: anhvubadai/go-booking-location:latest
#    container_name: location-service
#    environment:
#      GIN_PORT: 3001
#      DB_DSN: "postgres://admin:admin123@postgres:5432/locationdb?sslmode=disable"
#      DB_TYPE: "postgres"
#    ports:
#      - "3001:3001"
#    volumes:
#      - ./../services/location/migrations:/app/services/location/migrations
#    networks:
#      - go-booking
#    depends_on:
#      - postgres
#    restart: always
#
#  property-service:
#    image: anhvubadai/go-booking-property:latest
#    container_name: property-service
#    environment:
#      GIN_PORT: 3002
#      DB_DSN: "postgres://admin:admin123@postgres:5432/propertydb?sslmode=disable"
#      DB_TYPE: "postgres"
#      R2_BUCKET_NAME: "hotel-reservation-system"
#      R2_ACCESS_KEY_ID: "88949bc0a7c91a271ac0c4dcbc8e54a1"
#      R2_SECRET_ACCESS_KEY: "3eae798eb21b6ec71d6c145dd27dae247b2a914a04919edde28ffb845c3a72d3"
#      R2_ACCOUNT_ID: "a5723c0a72ea39835429c85468efd6ad"
#      R2_PUBLIC_DOMAIN: "https://a5723c0a72ea39835429c85468efd6ad.r2.cloudflarestorage.com/hotel-reservation-system"
#    ports:
#      - "3002:3002"
#    volumes:
#      - ./../services/property/migrations:/app/services/property/migrations
#    networks:
#      - go-booking
#    depends_on:
#      - postgres
#    restart: always

networks:
  go-booking:
    driver: bridge

volumes:
  postgres_data:
  redis_data:
